{% extends 'base.html'%}

{%block title%}
dashboard
{%endblock%}
{%block login %}
<li class="nav-item">
  <a class="nav-link " aria-current="page" href="{{url_for('login')}}">Log out</a>
</li>
{%endblock%}
{% block content%}
<div class="container" id='todos'>
  {%for message in get_flashed_messages()%}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
      <use xlink:href="#exclamation-triangle-fill"/>
    </svg>
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
  {%endfor%}
  <div class="input" style="display:flex;align-items: center; justify-content: flex-start;">
    <form  method="post">
      {{form.csrf_token}}
      <br/>
      {{form.title(style = 'width:300px;, height:50px;', placeholder = 'Todo Title', class = 'form-control' )}}<br/>
      {{form.body(style = 'width:300px;', placeholder = 'Todo Message', class = 'form-control')}}<br/>
      <input type="text" name="addtodo" value="addtodo" style="display:none ;"/>
      {{form.submit(class = 'btn btn-outline-success')}}
    </form>
  </div>
   {%for todo in data%}
   <br/>
   <div class="card">
    <h6>{{todo['title']}}</h6>
    <p>
      {{todo['body']}}
    </p>
    <form method="post">
      <input type="text" value="{{todo.id}}" name="todo_id" style="display:none ;">
      <input type="text" value="{{todo.title}}" name="todo_title" style="display:none ;">
      <button type="submit" class="btn btn-outline-secondary" id = "submi" >Delete</button>
    </form>
   </div>
 
   {%endfor%}
  </div>
{%endblock%}